<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Ban Hang</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


    <div class="nav">

        <div class="logo">
            <img src="/image/logoHAU.png" width="50px" alt="logoHAU">
            <h1>HAUSHOP</h1>
        </div>

        <div class="search">
            <input type="text" placeholder="Search">
        </div>  

        <ul>
            <a href="/home">Home</a>
            <a href="/users">User</a>
            <a href="/about">About</a>
        </ul>
    </div>
    
    <div class="banner">
        <div class="image-banner">
            <div class="left">
                <img src="/image/background-image.jpg" alt="">
            </div>
            <div class="right">
                <div id="top">
                    <img src="/image/1.jpg" alt="">
                </div>
                <div id="bottom">
                    <img src="/image/2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>



    
</body> 
</html>