body{
    
}

h1{
    color: red;
}
.nav{
    background-color: var(--main-color);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 10px;
        h1{
            color: white;
            margin: 0 0 0 10px  ;
        }
    }
    ul{
        margin: 0 10px 0 0 ;
    }
    a{

        text-decoration: none;
        font-size: 23px;
        color: white;
        font-weight: 400;
    }
    a:hover{
        color: var(--hover-color);
        font-weight: 300;
    }
}
.dataTable{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 30px;
    table {
        width: 100%; /* Chiều rộng của bảng */
        border-collapse: collapse; /* Xóa khoảng cách giữa các ô */
    }
    
    th, td {
        border: 1px solid #ddd; /* Đường viền cho các ô */
        padding: 8px; /* Khoảng cách bên trong các ô */
        text-align: left; /* Căn trái cho nội dung */
    }
    
    th {
        background-color: #f2f2f2; /* Màu nền cho hàng tiêu đề */
    }
    
    tr:nth-child(even) {
        background-color: #f9f9f9; /* Màu nền cho hàng chẵn */
    }
    
    tr:hover {
        background-color: #ddd; /* Màu nền khi di chuột qua hàng */
    }
  
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        width: 400px;
        height: 30px;
        border-radius: 5px;
        border: none;
        padding: 0 10px;
        color: var(--text-color);
        background-color: var(--background-color);
    }
    input:focus {
        outline: none; /* Ẩn đường viền mặc định khi nhấn vào */
    }
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .image-banner {
        
        display: flex;
        width: 80%;
        height: 500px;
        margin: 40px 0 0 0 ;
        justify-content: space-between;
        img{
            border-radius: 5px;
        }
        img:hover{
            cursor: pointer;
            transition: 0.1s;
            transform: scale(1.01);
            border: #ddd 1px solid;
        }


        .left{
            overflow: hi;
            background-color: var(--secondary-color);
            width: 69.5%;
            height: 500px;
            img{
                width: 100%;      /* Chiều rộng 100% của div */
            height: 100%;     /* Chiều cao 100% của div */
            object-fit: cover; /* Cắt ảnh để vừa khít mà không bị méo */
            }
        }
        
        .right{
            img{
                width: 100%;      /* Chiều rộng 100% của div */
            height: 100%;     /* Chiều cao 100% của div */
            object-fit: cover; /* Cắt ảnh để vừa khít mà không bị méo */
            }
            width: 29.5%;
            height: 500px;
            #top{
                background-color: var(--secondary-color);
                height: 242.5px;
                margin-bottom: 15px;
            }
            #bottom{
                background-color: var(--secondary-color);
                height: 242.5px;
            }
        }
    }

    
}



